tqdm
rich
ninja
numpy
pandas
scipy
scikit-learn
matplotlib
g4f
revTongYi
colorlog
opencv-python
imageio
imageio-ffmpeg
omegaconf
torch
einops
curl_cffi
plyfile
pygltflib
pycparser
quart
aiosqlite
huggingface_hub
diffusers
PyYaml
revChatGPT
tiktoken
claude-api
websockets
bardapi
hugchat
accelerate
transformers